.imageDisplayerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    overflow: hidden; /* Hide overflow */
    min-width: 500px; 
    min-height: 0;
    flex: 1; /* Allow to grow and shrink */
    border-bottom: 2px solid #5d82b6;
}

.imageDisplayerContainer:hover {
    background-color: #2d3239;

}

.imageImage {
    max-width: 80px; 
    max-height: 80px; 
    pointer-events: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.dropped-image {
    flex: 0 0 auto; /* Allow the image to grow and shrink */
    max-width: 100%; /* Limit width to the container */
    max-height: 100%; /* Limit height to the container */
    object-fit: contain; 
}